*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  display: grid;
  align-items: center;
  position: relative;

}

.textbutton{
  position: absolute;
  margin-top: 20%;
  width: 500px;
}

.video{
  width: 200px;
  height: 200px;
  position: absolute;
  /* right: 200px; */
}